@using FinanceApp.Models.Enums
@model FinanceApp.Models.Entities.SubscriptionForm

<select asp-for="Category" class="form-control">
    @foreach (var category in Enum.GetValues(typeof(TransactionCategory))) {
    <option value="@category">@category</option>
    }
</select>
