<select>
    <option>Housing</option>
    <option>Food</option>
    <option>Transportation</option>
    <option>Personal</option>
    <option>Medical</option>
    <option>Education</option>
    <option>Financial Obligations</option>
    <option>Others</option>
</select>