@{
    ViewData["Title"] = "Goals";
}

@using FinanceApp.Models.Enums;
@model FinanceApp.Models.Entities.GoalsEditForm

<div class="container-fluid border" style="min-width: 400px; width: 60vh">
    <h4 class="pt-2">Goals</h4>
    <form class="container pb-2" method="post">
        <div class="col d-flex flex-column">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <label for="name-input">Name<span class="text-danger">*</span></label>
            <input id="name-input" type="text" class="form-control" asp-for="GoalsForm.Name"
                value="@Model.GoalsForm.Name" />
            <label for="amount-input">Amount (in Php) <span class="text-danger">*</span></label>
            <input asp-for="GoalsForm.TargetAmount" id="amount-input" type="number" placeholder="0"
                class="form-control" value="@Model.GoalsForm.TargetAmount" />
            <label for="deadline-input">Deadline<span class="text-danger">*</span></label>
            <input id="deadline-input" class="form-control" type="date" asp-for="GoalsForm.Deadline"
                value="@Model.GoalsForm.Deadline.ToString("yyyy-MM-dd")" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="text-end">
                <input class="mt-2 btn btn-primary" type="submit" value="Save" />
                <a asp-action="Index" class="mt-2 btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}