@{
    ViewData["Title"] = "Subscriptions";
}

@using FinanceApp.Models.Enums
@model FinanceApp.Models.Entities.SubscriptionForm

<div class="container-fluid border" style="min-width: 400px; width: 60vh">
    <h4 class="pt-2">Subscriptions</h4>
    <form class="container pb-2" method="post">
        <div class="col d-flex flex-column">
            <label for="name-input">Name<span class="text-danger">*</span></label>
            <input id="name-input" type="text" class="form-control" asp-for="Name" />
            <label for="category-select">Category</label>
            <select id="category-select" class="form-control" asp-for="Category">
                <partial name="_ExpenseCategories" />
            </select>
            <label for="amount-input">Amount (in Php) <span class="text-danger">*</span></label>
            <input id="amount-input" type="number" placeholder="0" class="form-control" asp-for="Amount" />
            <label for="frequency-select">Frequency</label>
            <select id="frequency-select" class="form-control" asp-for="Frequency">
                @foreach (var category in Enum.GetValues(typeof(FrequencyType)))
                {
                    <option value="@category">@category</option>
                }
            </select>
            <label for="start-date-input">Start Date</label>
            <input id="start-date-input" class="form-control" type="date" asp-for="StartDate" />
            <label for="end-date-input">End Date</label>
            <input id="end-date-input" class="form-control" type="date" asp-for="EndDate" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="text-end">
                <input class="mt-2 btn btn-primary" type="submit" value="Save" />
                <a asp-action="Index" class="mt-2 btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}